USE [master]
GO
/****** Object:  Database [FMSDB]    Script Date: 5/28/2015 1:14:42 AM ******/
CREATE DATABASE [FMSDB]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'FMSDB', FILENAME = N'F:\tutorials\BASIS\dotnet\FairManagementSystemApplication\FMSDB.mdf' , SIZE = 3072KB , MAXSIZE = UNLIMITED, FILEGROWTH = 1024KB )
 LOG ON 
( NAME = N'FMSDB_log', FILENAME = N'F:\tutorials\BASIS\dotnet\FairManagementSystemApplication\FMSDB_log.ldf' , SIZE = 1024KB , MAXSIZE = 2048GB , FILEGROWTH = 10%)
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [FMSDB].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [FMSDB]
GO
/****** Object:  Table [dbo].[tbl_visitor_info]    Script Date: 5/28/2015 1:14:42 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[tbl_visitor_info](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[name] [varchar](50) NOT NULL,
	[email] [varchar](50) NOT NULL,
	[contact_no] [int] NOT NULL,
 CONSTRAINT [PK_tbl_visitor_info] PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[tbl_visitor_zone]    Script Date: 5/28/2015 1:14:43 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[tbl_visitor_zone](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[visitorId] [int] NOT NULL,
	[zoneId] [int] NOT NULL,
 CONSTRAINT [PK_tbl_visitor_zone] PRIMARY KEY CLUSTERED 
(
	[visitorId] ASC,
	[zoneId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[tbl_zone]    Script Date: 5/28/2015 1:14:43 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[tbl_zone](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[zone_title] [varchar](50) NOT NULL,
 CONSTRAINT [PK_tbl_zone] PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  View [dbo].[visitorZoneView]    Script Date: 5/28/2015 1:14:43 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE VIEW [dbo].[visitorZoneView] AS
SELECT vi.id AS VisitorId,vi.name AS VisitorName, vi.email AS VisitorEmail,vi.contact_no AS VisitorContactNumber, z.id AS ZoneId, z.zone_title AS ZoneName
FROM tbl_visitor_info vi
INNER JOIN tbl_visitor_zone vz
ON vi.id=vz.visitorId
INNER JOIN tbl_zone z
ON vz.zoneId=z.id
GO
ALTER TABLE [dbo].[tbl_visitor_zone]  WITH CHECK ADD  CONSTRAINT [FK_tbl_visitor_zone_tbl_visitor_info] FOREIGN KEY([visitorId])
REFERENCES [dbo].[tbl_visitor_info] ([id])
GO
ALTER TABLE [dbo].[tbl_visitor_zone] CHECK CONSTRAINT [FK_tbl_visitor_zone_tbl_visitor_info]
GO
ALTER TABLE [dbo].[tbl_visitor_zone]  WITH CHECK ADD  CONSTRAINT [FK_tbl_visitor_zone_tbl_zone] FOREIGN KEY([zoneId])
REFERENCES [dbo].[tbl_zone] ([id])
GO
ALTER TABLE [dbo].[tbl_visitor_zone] CHECK CONSTRAINT [FK_tbl_visitor_zone_tbl_zone]
GO
USE [master]
GO
